{% extends 'base.html' %}

{% block content %}
<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">IHM</h2>
    <div class="container">
        <p class="lead mb-6">Vous retrouverez la liste des livres.</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <th scope="row">{{ book['isbn'] }}</th>
                <td>{{ book['title'] }}</td>
                <td>{{ book['author'] }}</td>
                <td>{{ book['description'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}